@import "../variables.scss";

aside {
  position: fixed;
  width: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  /* border: 1px solid red; */
  background: url(/aside/background.png) no-repeat left center;
  background-size: cover;
	pointer-events: none;

  /* this interacts with the chrome min/max font size memory leak bug:
     certain final sizes (this * tag cloud size in site.hs) freeze the browser!
     so we want to control it separately from the main body font
   */
  font-size: 12.20pt;

  line-height: 1.00em;
}

#island {
  width: 350px;
  z-index: 80;
}

#a90, #aboutBox {
  pointer-events: auto;
}

.center {
  width: 50%;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tag-cloud-container {
  position: absolute;
  top: calc(50% + 5.5em);
  left: 50%;
  z-index: 90;
  transform: translate(-44%, -50%);
  width: 15em;
  height: 9em;
  display: block;
  overflow: hidden;
  text-align: end;
}

/* firefox */
@-moz-document url-prefix() {
  .tag-cloud-container {
    transform: translate(-51%, -50%);
  }
}

.tag-cloud-left {
          shape-outside: url(/aside/shape-left.svg);
  -webkit-shape-outside: url(/aside/shape-left.svg);
  float: left;
  width: 50%;
  height: 100%;
}

.tag-cloud-right {
          shape-outside: url(/aside/shape-right.svg);
  -webkit-shape-outside: url(/aside/shape-right.svg);
  float: right;
  width: 50%;
  height: 100%;
}

.tag-cloud > a {
  color: blue; 
  text-decoration: none;
  overflow: hidden;
	pointer-events: auto;
}

.tag-cloud > a:hover {
  color: blue;
  border-bottom: 2px solid currentColor;
}

/* this is the main title link inside island.svg */
#titleText {
  text-decoration: none;
}

#titleText:hover {
  /* TODO any way to make underline kerning nicer? */
  text-decoration: underline;
}

/* TODO why does the boat underline fail? */
#aboutBox {
  /* border: 1px solid red; */
  position: absolute;
  top: calc(50% + 40px);
  right: 15px;
  height: 70px;
  width: 55px;
  padding-bottom: 5px;
  margin-left: 50px;
  text-align: center;
}

#aboutBox > #aboutLink {
  /* nested id prevents matching the svg pointer-events box */
  color: blue;
  text-decoration: none;
  font-size: 9pt;
}

#aboutBox:hover > #aboutLink {
  border-bottom: 2px solid currentColor;
}

#aboutBoat {
  width: 100%;
  height: 100%;
  border-bottom: none;
  margin-bottom: -10px;
}

#aboutBoat:hover {
  border-bottom: none;
}

@media screen and (max-width: $mobile-breakpoint) {
  aside {
    position: absolute;
    left: -9999px;
  }
}
