aside {
  position: fixed;
  width: 350px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  /* border: 1px solid red; */
  background: url(/aside/background.png) no-repeat left center;
  background-size: cover;
}

#island {
  width: 350px;
  z-index: 80;
}

.center {
  width: 50%;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.tag-cloud-container {
  position: absolute;
  top: calc(50% + 80px);
  left: 50%;
  z-index: 90;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 15%;
  display: block;
  overflow: hidden;
  margin-top: 0.5em;
  text-align: end;
  /* border: 1px solid red; */
}

.tag-cloud-left {
          shape-outside: url(/aside/shape-left.svg);
  -webkit-shape-outside: url(/aside/shape-left.svg);
  float: left;
  width: 50%;
  height: 100%;
}

.tag-cloud-right {
          shape-outside: url(/aside/shape-right.svg);
  -webkit-shape-outside: url(/aside/shape-right.svg);
  float: right;
  width: 50%;
  height: 100%;
}

.tag-cloud > a {
  color: blue; 
  text-decoration: none;
  overflow: hidden;
}

.tag-cloud > a:hover {
  color: blue;
  border-bottom: 2px solid currentColor;
}

/* this is the main title link inside island.svg */
#titleText {
  text-decoration: none;
}

#titleText:hover {
  /* TODO any way to make underline kerning nicer? */
	text-decoration: underline;
}

/* TODO why does the boat underline fail? */
#aboutBox {
  /* border: 1px solid red; */
  position: absolute;
  top: calc(50% + 40px);
  right: 15px;
  height: 70px;
  width: 55px;
  padding-bottom: 5px;
  margin-left: 50px;
}

#aboutBox > #aboutLink {
  /* nested id prevents matching the svg pointer-events box */
  color: blue;
  text-decoration: none;
}

#aboutBox:hover > #aboutLink {
  border-bottom: 2px solid currentColor;
}

#aboutBoat {
  width: 100%;
  height: 100%;
  border-bottom: none;
}

#aboutBoat:hover {
  border-bottom: none;
}

@media screen and ((max-width: 800px) or (max-height: 600px)) {
  aside {
    position: absolute;
    left: -9999px;
  }
}
