@import "../variables.scss";

.postTitle {
  margin-top: 0;
  font-size: 24px;
}

.postLink {
    text-decoration: none;
}

.postLink:hover {
    text-decoration: underline;
}

.header {
  border-bottom: 1px solid black;
  font-weight: bold;
  margin: 10px;
  margin-top: -30px; /* TODO why is this needed? */
  margin-left: 20px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

div.toc {
  float: right;
  /* background-color: lightblue; */
  max-width: 50%;
}

div.toc > ul > li > a {
  text-decoration: none;
}

div.toc > ul > li > ul > li > a:hover {
  text-decoration: underline;
}

div.toc > ul > li > ul > li > a {
  text-decoration: none;
}

div.toc > ul > li > a:hover {
  text-decoration: underline;
}

div.info > a {
  text-decoration: none;
}

div.info > a:hover {
  text-decoration: underline;
}

.co {
  text: pre-wrap !important;
  white-space: pre-wrap !important;
}

/* see https://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/ */
blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

table, th, td {
  border: 1px solid #4a3304;
}

th {
	background: #f9ede5;
}

@media screen and (max-width: $mobile-breakpoint) {
  div.toc {
    float: none;
    max-width: 100%;
  }
  div.info {
    max-width: 100%;
    margin: 20px;
  }
  div.toc > div.header {
    margin-top: 0px;
  }
}
