* {
    /* for debugging: */
    /* border: 1px solid red; */
}

@import "./variables.scss";

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Bold.ttf");
  font-weight: bold;
}

a {
  color: #4a3304;
}

body:a {
  color: #221701;
}

html {
  background: #FDF6E369;
  color: #4a3304;
  font-family: OpenSans, sans-serif;
  padding: 0;
}

/* parent div to help main + aside fill the page */
main {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 10px;
  /* on large screens, center main div in body */
	/* string interpolation works around sass bug:
	   https://github.com/sass/node-sass/issues/2815#issuecomment-574038619 */
  margin-left: #{"max(10px, (100% - "$aside-width" - "$mobile-breakpoint") / 2)"};
  width: #{"min(1000px, 100% - "$aside-width")"};
}

body {
  font-size: 16px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 14px;
}

/* see https://css-tricks.com/hash-tag-links-padding/ */
h1::before, h2::before, h3::before { 
  display: block; 
  content: " "; 
  margin-top: -10px; /* undoes the 60px header hack on big screens */
  height: 10px;      /* undoes the 69px header hack on big screens */
  visibility: hidden; 
  pointer-events: none;
}

div.info {
  max-width: 50%;
}

div.toc > ul {
  list-style: decimal;
}

table {
  margin: 10px;
}

td {
  padding: 10px;
  padding-bottom: 0px;
}

img {
  max-width: 100%;
}

div.sourceCode {
	width: max-content;
  max-width: calc(100% - 10px);
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre.sourceCode {
  color: black;
  background: #f9ede5;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

code {
  background: #f9ede5;
}

code.sourceCode {
  margin-top: 20px;
  word-wrap: break-word;
}

code.sourceCode > span {
  margin: 10px;
}

/* mobile version with header instead of sidebar */
@media screen and (max-width: $mobile-breakpoint) {
  /* see https://css-tricks.com/hash-tag-links-padding/ */
  h1::before, h2::before, h3::before { 
    margin-top: -60px; /* height of header + 10 */
    height: 60px;      /* height of header + 10 */
  }

	pre {
    font-size: 10pt;
	}
}
