* {
    /* for debugging: */
    /* border: 1px solid red; */
}

@import "./variables.scss";

a {
  color: #4a3304;
}

body:a {
  color: #221701;
}

html {
  background: #FDF6E369;
  color: #4a3304;
  font-family: OpenSans, sans-serif;
  padding: 0;
}

/* parent div to help main + aside fill the page */
main {
  position: absolute;
  width: 100%;
  height: auto;
  margin: 10px;
  /* on large screens, center main div in body */
	/* string interpolation works around sass bug:
	   https://github.com/sass/node-sass/issues/2815#issuecomment-574038619 */
  margin-left: #{"max(10px, (100% - "$aside-width" - "$mobile-breakpoint") / 2)"};
  width: #{"min(1000px, 100% - "$aside-width")"};
}

body {
  font-size: 16.00px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18.00px;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-size: 20.00px;
}

h2 {
    font-size: 18.00px;
}

h3 {
    font-size: 14.00px;
}

/* see https://css-tricks.com/hash-tag-links-padding/ */
h1::before, h2::before, h3::before { 
  display: block; 
  content: " "; 
  margin-top: -10px; /* undoes the 60px header hack on big screens */
  height: 10px;      /* undoes the 69px header hack on big screens */
  visibility: hidden; 
  pointer-events: none;
}

div.info {
  /* max-width: 50%; */
}

div.toc > ul {
  list-style: decimal;
}

table {
  max-width: 100%;
}

td {
  padding: 10px;
  padding-bottom: 0px;
	min-width: 6em; /* fits dates on recent page */
}

img {
  max-width: 100%;
}

div.sourceCode {
  /* better to have the whole block overflow right than weird breaks: */
  /* max-width: calc(100% - 10px); */
	width: fit-content;
}

pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

pre.sourceCode {
  color: black;
  background: #f9ede5;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

code {
  background: #f9ede5;
}

code.sourceCode {
  margin-top: 20px;
  word-wrap: break-word;
}

code.sourceCode > span {
  margin: 10px;
}

/* mobile version with header instead of sidebar */
@media screen and (max-width: $mobile-breakpoint) {
  /* see https://css-tricks.com/hash-tag-links-padding/ */
  h1::before, h2::before, h3::before { 
    margin-top: -60px; /* height of header + 10 */
    height: 60px;      /* height of header + 10 */
  }

	pre {
    line-height: #{"min(2.5vw, 15pt)"};
	}
	code.sourceCode {
	  /* shrink font to fit */
	  /* TODO should this be vw? */
	  font-size: #{"min(2.00vw, 15.00pt)"};
    line-height: 1.5em;
	}
}

/* mobile version, which should only show the island */
@media screen and (max-width: $mobile-breakpoint) {
  /* center code in content and shrink, but only to a minimum size and then scroll */
  div.sourceCode {
	/* center the div but leave content left-aligned
	  https://stackoverflow.com/a/1269596 */
    margin-left: auto;
    margin-right: auto;
    min-width: 50vw;
  }
	/* center imgs in content and shrink when needed */
	main > p > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
	}
}

@media (prefers-color-scheme: light) { 
}

@media (prefers-color-scheme: dark) { 
  // invert everything
  html {
    filter: invert(1) hue-rotate(180deg);
    background: white; // not needed in ff, but is in chrome
  }

  // elements to double-invert (keep same):
  #layer10    { filter: invert(1) hue-rotate(180deg); } // boat
  #pathbigmtn { filter: invert(1) hue-rotate(-45deg); }
  #path4705   { filter: invert(1) hue-rotate(-45deg); } // lil mountain

  // TODO css toggle button   https://dev.to/kunalukey/dark-mode-toggle-feature-css-only-180c
}
